{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>
      {% block title %}
        My Django Site
      {% endblock %}
    </title>

    <link rel="stylesheet" href="{% static 'polls/css/style.css' %}" />
  </head>
  <body>
    {% include 'polls/header.html' %}

    {% include 'polls/navbar.html' %}

    <main>
      {% block content %}

      {% endblock %}
    </main>

    {% include 'polls/footer.html' %}
  </body>
</html>
